{% extends 'base.html' %}

{% block title %}
detail
{% endblock title %}

{% block body %}
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성일자: {{ article.created_at }}</p>
<p>수정일자: {{ article.updated_at }}</p>
<a href="{% url 'articles:index' %}">뒤로가기</a>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('삭제?')">
{% csrf_token %}
<button type="submit">삭제하기</button>
</form>

{% endblock body %}