{% extends 'base.html' %}
{% load static %}
{% comment %} 
static 파일을 사용 한다고 선언을 한다.
항상 extends보다 아래에 있어야 한다. 
{% endcomment %}

{% block title %}
ARTICLES
{% endblock title %}

{% block body %}
  <h1>ARTICLES</h1>
  <!-- <a href="/articles/new/">작성하기</a> -->
  <a href="{% url 'articles:create' %}"><p>작성하기</p></a>
  <hr>
  {% for article in articles %}

  <div>
  <!-- <a href="/articles/detail/{{ article.pk }}/"><h3> -->
  {% if article.image %}
  <img src="{{ article.image_thumbnail.url }}" alt="{{ article.image_thumbnail }}">
  {% endif %}
      <a href="{% url 'articles:detail' article.pk %}"><h3>    
      {{ article.pk }}: {{ article.title }}
    </h3>
    </a>
  <p> {{ article.content }} </p>
  </div>
  {% endfor %}
  <img src="{% static 'articles/images/cat.jpg'%}" alt="cat" style="10px">
{% endblock body %}
