{% extends 'base.html' %}

{% block title %}
ARTICLES
{% endblock title %}

{% block body %}
  <h1>ARTICLES</h1>
  <!-- <a href="/articles/new/">작성하기</a> -->
  <a href="{% url 'articles:create' %}">작성하기</a>

  <hr>

  {% for article in articles %}

  <div>
  <!-- <a href="/articles/detail/{{ article.pk }}/"><h3> -->
      <a href="{% url 'articles:detail' article.pk %}" style="color:black"><h3>    
      {{ article.pk }}: {{ article.title }}
    </h3>
    </a>
  <p> {{ article.content }} </p>
  </div>

  {% endfor %}
{% endblock body %}
