{% extends 'base.html' %}

{% block title %}
{% endblock title %}


{% block body %}
<h1>unknown article for unknown people</h1>
<hr>
<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<p>{{ article.content}} </p>

<a href="{% url 'articles:index' %}">[Back]</a>
<a href="#">[Edit]</a>
<a href="#">[Delete]</a>

<hr>
<h2>unknown comments for unknown people</h2>

<form method="POST" action="{% url 'articles:comment_create' article.pk %}">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">[Write]</button>
</form> 
<hr>

{% for comment in comments %}
<p>{{ comment.content }}</p>
<p>{{ comment.created_at }}</p>
<a href="{% url 'articles:comment_delete' comment.pk article.pk %}">[delete your thoughts]</a>
{% endfor %}

{% endblock body %}