{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <header>
    <h1>저희 페이지에 오신걸 환영합니다.</h1>
    {% if user.is_authenticated %}
    
    <p>Hello, {{ user.username }}</p>
    <a href="{% url 'accounts:logout' %}">[Logout]</a>
    <a href="{% url 'accounts:update' %}">[Edit your info]</a>
    <hr>
    <form action="{% url 'accounts:delete' %}" method="POST">
	  {% csrf_token %}
	  <button type="submit">[회원탈퇴]</button>
    </form>

    {% else %}
    
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Sign-up</a>
    
    {% endif %}

    <a href="{% url 'articles:index' %}">[List]</a>
  </header>
{% block body %}{% endblock body %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src={% static 'bootstrap/js/bootstrap.bundle.min.js' %}></script>
</body>
</html>