{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block body %}

{{ article.title }}
{{ article.created_at }}
<hr>
{{ article.content }}
<hr>

{% if user.is_authenticated %}
<a href="{% url 'articles:update' article.pk %}">[수정하기]</a>
{% comment %} 삭제 {% endcomment %}
<form method="POST" action="{% url 'articles:delete' article.pk %}">
{% csrf_token %}
<button type="submit">[삭제하기]</button>
</form>

{% else %}
<p>로그인 상태에서 글의 수정/삭제가 가능합니다.</p>

{% endif %}


{% endblock body %}

